.test {
  background-color: grey;
}
.main-heading {
  text-align: center;
}
.main-map {
  height: '500px';
  width: '75%';
  margin: '1em';
}
.mini-map {
  height: '250px';
  width: '50%';
  float: 'left';
}
.mini-map-container {
  
}
